name: Docker Image Ci
on:
  push:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

        # Make sure you have the full commit hash:
      - uses: docker/build-push-action@v4
        with:
            context: https://github.com/zoumana001/Boardgame.git#refs/heads/main  # or use a full commit hash
            push: true
            tags: zoum44/boardgame-1:${{ github.sha }}
